<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"wide","layout":{"type":"default"}} -->
	<main class="wp-block-group alignwide"> <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->

	<h1>Prueba</h1>

	<!-- en alguna plantilla -->
	<div class="bg-primary text-white p-4 rounded-lg shadow-md"> <h2 class="text-2xl font-bold">Este es un ejemplo de Tailwind CSS</h2>
		<p class="mt-2">Si ves este texto con los estilos aplicados, Tailwind está funcionando correctamente.</p>
	</div>

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"top-bar","area":"footer","tagName":"footer"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
